<!-- 
<a href='/login'> log in </a>
<a href='/logout'> log off </a>
<a href='/createuser'> create account </a> -->

<div class="jumbotron">
<div class="container text-center">
  
  <h1 class="display-3">CRWL</h1>
  <img src="<%=image_path("pub-crawl-icon.png")%>"" alt="Logo">
  <p class="lead">Let’s get ready to stumble!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">See Crawls</a>
  </p>
</div>
</div>

<!-- <div class="container">
<div class="container-fluid">
<h1 class="text-center">CRWL</h1>
  </div>
  <div class="container-fluid text-center">
    
  <p>Let’s get ready to stumble!</p>
    </div>
  <div class="container-fluid">
  <p><a class="btn btn-primary btn-lg" id="action-button" href="/auth/signup" role="button">Sign up</a></p>
</div> -->