<!-- 
<a href='/login'> log in </a>
<a href='/logout'> log off </a>
<a href='/createuser'> create account </a> -->

<div class="jumbotron">
<div class="container text-center">
  
  <h1 class="display-3">CRWL</h1>
  <%= image_tag 'pub-crawl-icon.jpg', :class => 'img-responsive' %>
  <h2>Let’s get ready to stumble!</h2>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">See Crawls</a>
  </p>
</div>
</div>