/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import "bootstrap-sprockets";
  @import "bootstrap";

  $font-stack:    'Open Sans', sans-serif;
  $primary-color: #E84B41;
  $secondary-color: #F3F3F1; 
  $tertiary-color: #262626;
  /*#A43F38*/

 body {
  background-color:  $secondary-color;
  height: 100%;
 }

 p {
  margin: 20px;
 }

  .navbar {
    margin-bottom: 0;
  }

  .navbar-default {
    background-color: $tertiary-color;
    color: $primary-color;
  }

  .navbar-brand, .icon-bar, .sr-only {
    color: $primary-color;
/*    background-color: #E84B41*/
  }

  .navbar-default .navbar-brand {
        color: $primary-color;
        font-family: 'Open Sans', sans-serif;
        font-size: 36px;
  }

  .navbar-nav li {
      text-align: center;
    }

  .navbar-default .navbar-nav li a {
        color: $primary-color;
        font-size: 16px;
      }


/*  .navbar-default .navbar-nav {
  ul {

  li { text-align: center; }

  a {
    color: $primary-color;
  }
  }
}*/

  .navbar-default .navbar-toggle {
    border-color: $primary-color;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: $primary-color;
  }

  .btn {
    background-color: $primary-color;
    border: white;
    float: none;
  }

  .jumbotron {
      background-image: image-url("people-hotel-bar-drinks.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      /*height: 100vh;*/
      color: #fff;
      margin-bottom: 0;
      /*padding-bottom: 10px;*/
  }

.jumbotron img {
  height: 215px;
  margin: 10px;
}


