/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

  @import "bootstrap-sprockets";
  @import "bootstrap";

  $head-font:'Open Sans', sans-serif;
  $pair-font:'Source Sans Pro', sans-serif;
  $red: #E84B41;
  $offwhite: #F5EEDE; 
  $black: #262626;
  /*#A43F38*/

 body {
  background-color:  $offwhite;
  height: 100%;
  font-family: $pair-font;

 }

 h1, h2, h3 {
  font-family: $head-font;
  font-weight: 600;
 }

 p {
  margin: 20px;
 }

  .navbar {
    margin-bottom: 0;
  }

  .navbar-default {
    background-color: $black;
    color: $red;
  }

  .navbar-brand, .icon-bar, .sr-only {
    color: $red;
/*    background-color: #E84B41*/
  }

  .navbar-default .navbar-brand {
        color: $red;
        font-family: $head-font;
        font-size: 36px;
  }

  .navbar-nav li {
      text-align: center;
    }

  .navbar-default .navbar-nav li a {
        color: $red;
        font-size: 16px;
      }

  .navbar-default .navbar-toggle {
    border-color: $red;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: $red;
  }

  .btn {
    background-color: $red;
    border: white;
    float: none;
  }

  .jumbotron {
      background-image: image-url("people-hotel-bar-drinks.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      /*height: 100vh;*/
      color: #fff;
      margin-bottom: 0;
      /*padding-bottom: 10px;*/
  }

.jumbotron img {
  height: 215px;
  margin: 10px;
}

.well {
  background-color: #E84B41;
  margin: 20px 60px;
}


