/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
*= require global
*= require_tree .
*= require_self
*/

/*
  ========================================
  Custom styles
  ========================================
*/
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

  @import "bootstrap-sprockets";
  @import "bootstrap";

  $head-font:'Open Sans', sans-serif;
  $pair-font:'Source Sans Pro', sans-serif;
  $red: #E84B41;
  $offwhite: #F5EEDE; 
  $black: #262626;
  /*#A43F38*/

 body {
  background-color:  $offwhite;
  height: 100%;
  font-family: $pair-font;

 }

 h1, h2, h3, h4 {
  font-family: $head-font;
  font-weight: 600;
 }
#visited {
  margin: 0;
  color: $red;
  background-color: $black;
}
 p {
  margin: 20px;
 }

.btn-lg {
    text-align: center;
    background-color: $red;
    border: white;
    float: none !important;
    width: 200px;
}
.btn-sm {
    text-align: center;
    background-color: $red;
    border: white;
    color: white;
}
.btn-md {
    text-align: center;
    background-color: $red;
    border: white;
    color: white;
}

#button {
  text-align: center;
  margin: 0 auto;
}
.addButton {
  text-align: center;
}
#nuke {
  width: 100%;
}
#form {
  border: 3px solid $black;
  border-radius: 10px;
  padding: 10px;
}

/*
  ========================================
  Navigation
  ========================================
*/

  .navbar {
    margin-bottom: 0;
  }

  .navbar-default {
    background-color: $black;
    color: $red;
  }

  .navbar-brand, .icon-bar, .sr-only {
    color: $red;
/*    background-color: #E84B41*/
  }

  .navbar-default .navbar-brand {
        color: $red;
        font-family: $head-font;
        font-size: 36px;
  }

  .navbar-nav li {
      text-align: center;
    }

  .navbar-default .navbar-nav li a {
        color: $red;
        font-size: 16px;
      }

  .navbar-default .navbar-toggle {
    border-color: $red;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: $red;
  }



  /*
  ========================================
  Home Page
  ========================================
*/

.jumbotron {
    background-image: image-url("people-hotel-bar-drinks.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /*height: 100vh;*/
    color: #fff;
    margin-bottom: 0;
    /*padding-bottom: 10px;*/
}

.jumbotron img {
  height: 215px;
  margin: 10px;
}

.well {
  background-color: #E84B41;
  // margin: 20px 60px;
}

.well .butt {
  background-color: $black !important;
}

.form-input {
  margin-bottom: 30px;
}

