/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import "bootstrap-sprockets";
  @import "bootstrap";

/*  $font-stack:    Helvetica, sans-serif
  $primary-color: #E84B41;*/
  /*$secondary-color: #F3F3F1*/
  /*$tertiary-color: #262626*/
  /*#A43F38*/



  .navbar {
    margin-bottom: 0;
  }

  .navbar-default {
    background-color: #EAE6DD;
    color: #E84B41;
  }

  .navbar-brand, .icon-bar, .sr-only {
    color: #E84B41;
/*    background-color: #E84B41*/
  }

  .navbar-default .navbar-brand {
        color: #E84B41;
        font-family: 'Open Sans', sans-serif;
        font-size: 36px;
  }

  .navbar-default .navbar-toggle {
    border-color: #E84B41;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #E84B41;
  }

  .btn {
    background-color: #E84B41;
  }

  .jumbotron {
      background-image: image-url("people-hotel-bar-drinks.jpg");
      background-size: 100%;
      height: 500px;
      color: #fff;
  }

