/*
  ========================================
  Custom styles
  ========================================
*/

$head-font:'Open Sans',
sans-serif;
$pair-font:'Source Sans Pro',
sans-serif;
$red: #E84B41;
$offwhite: #F5EEDE;
$sec-black: #333333;
$black: #262626;
h1 {
    margin-top: 10px;
}

h3 {
    text-align: center;
}

a {
    text-decoration: none;
}

.links {
    height: 40px;
    background-color: $red;
    margin: auto 0;
}

a .links {
    color: $offwhite;
    text-decoration: none;
    font-size: 20px;
}

a .links:hover {
    color: $offwhite;
    text-decoration: none;
}


/*
  ========================================
  All Crawls Page
  ========================================
*/

.crawls-well {
    background-color: $black;
    margin: 20px 0;
    // position: relative;
}

.crawls-well-all {
    background-color: $sec-black;
}

.crawls-well a {
    text-decoration: none;
    color: $offwhite;
}

.crawls-well a:hover {
    color: $red;
    text-decoration: none;
    // border-bottom: 2px solid $red;
}

.show-margin {
    margin-top: 0;
    margin-bottom: 0;
}

.divLast {
    position: relative;
    border-bottom: 10px $red solid;
    width: 100%;
}

.crawls-well h3 {
    text-transform: uppercase;
    // color: $offwhite;
}

.show-margin h3,
.show-margin h4 {
    color: $offwhite;
}

.show-margin h4 {}

a > .crawls-well > h3:hover {
    text-decoration: none;
}

.all-crawl-img {
    height: 180px;
}

.all-row {
    // position: absolute;
    color: $offwhite;
    margin-bottom: 0px;
    margin-top: 0px;
    z-index: 10;
}


/*
  ========================================
  Crawl Detail Page
  ========================================
*/

.headerImg {
    position: relative;
    width: 100%;
    // height: 300px;
    background-size: cover;
    color: $offwhite;
    overflow: hidden;
    margin-bottom: 0;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom, rgba(38, 38, 38, 0), rgba(38, 38, 38, 1));
        opacity: 1;
    }
}

.headerImg img {
    width: 100%;
    // height: 300px;
    overflow: hidden;
    position: relative;
    // object-fit: cover;
}

#eventTitle {
    position: absolute;
    color: white;
    bottom: 20px;
    z-index: 99;
    text-align: center;
    left: 0;
    width: 100%;
    text-transform: uppercase;
}

#join-button {
    display: block;
    margin: 0 auto;
    outline: none;
    height: 40px;
    text-align: center;
    width: 150px;
    border-radius: 40px;
    background: $black;
    border: 2px solid $red;
    color: $offwhite;
    letter-spacing: 1px;
    text-shadow: 0;
    font: {
        weight: bold;
    }
    a {
        text-transform: uppercase;
        text-decoration: none;
        color: $red;
    }
}


.user-join {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

li {
    list-style: none;
    display: inline-block;
}


/*
  ========================================
  Locations
  ========================================
*/

.locations {
    background-color: $black;
    color: $offwhite;
    li {
        list-style: none;
        display: inline-block;
    }
}

#map {
    margin: 10px, 10px;
    width: 100%;
    height: 400px;
}
